<header>
    <div class="container-maxw pt-3">
        <nav class="navbar navbar-expand-md">

            <a href="../" class="navbar-brand" style="max-width: 250px; min-width: 200px; width: 33%;">
                <img src="arquivos/logo.png" class="img-fluid" alt="Dedetizadora Freitas">
            </a>
    
            <button type="button" data-bs-toggle="collapse" data-bs-target="#nav-header" class="navbar-toggler">
                <i class="navbar-toggler-icon"></i>
            </button>
    
            <div class="collapse navbar-collapse mt-5 mt-md-0" id="nav-header">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="../" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="../#sobre" class="nav-link">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a href="servicos.php" class="nav-link">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a href="blog/" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="contato.php" class="nav-link nav-button">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>