<footer>

    <div class="container-maxw text-center">                
        <div class="row">
            <div class="col-6 col-md-3 p-3">
                <div class="bg-white rounded-4 p-3 shadow">
                    <a href="index.php"><img src="arquivos/logo.png" alt="Dedetizadora Freitas" width="100%"></a>
                </div>
            </div>
            <div class="col-6 col-md-7 d-flex justify-content-center p-3">
                <div class="align-self-center">
                    <h5>Atendimento: Segunda a Sexta: 08h-18h Sábado: 08h-12h</h5>
                </div>
            </div>
            <div class="col-12 col-md-2 d-flex p-3">
                <div class="col row align-self-center justify-content-center justify-content-md-around social-media">
                    <a href="https://pt-br.facebook.com/freitasdedetizadora" class="col-4"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/dedetizadorafreitas/" class="col-4"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-12">
                Desenvolvido por <a href="https://www.growagency.com.br">Grow Agency</a>
            </div>
        </div>
    </div>

    <img src="arquivos/arte.png" alt="" id="detalhe-footer" class="d-none d-xxl-block">
    
</footer>