<section id="servicos" style="padding: 50px 0px;">
    <div class="container-maxw d-flex flex-column text-center gap-4">
        <div class="d-flex justify-content-center">
            <h2 class="text-detail text-white" style="font-size: 3em">SERVIÇOS</h2>
        </div>
        <div class="d-flex flex-wrap justify-content-center align-content-end gap-2 gap-lg-5" id="servicos-container">
            <div class="servico-item">
                <div class="sobreposicao bg-black opacity-75"></div>
                <img src="arquivos/servicos-descupinizacao.png" alt="Descupinização">
                <div class="text-white w-100 h-100 d-flex align-items-center justify-content-center">
                    <h4>Descupinização</h4>
                </div>
            </div>
            <div class="servico-item">
                <div class="sobreposicao bg-black opacity-75"></div>
                <img src="arquivos/servicos-desratizacao.png" alt="Descupinização">
                <div class="text-white w-100 h-100 d-flex align-items-center justify-content-center">
                    <h4>Desratização</h4>
                </div>
            </div>
            <div class="servico-item">
                <div class="sobreposicao bg-black opacity-75"></div>
                <img src="arquivos/servicos-sanitizacao.png" alt="Descupinização">
                <div class="text-white w-100 h-100 d-flex align-items-center justify-content-center">
                    <h4>Sanitização contra vírus e bactérias</h4>
                </div>
            </div>

            <div class="servico-item">
                <div class="sobreposicao bg-black opacity-75"></div>
                <img src="arquivos/servicos-caixa-dagua.png" alt="Descupinização">
                <div class="text-white w-100 h-100 d-flex align-items-center justify-content-center">
                    <h4>Limpeza de caixa d'água</h4>
                </div>
            </div>
            <div class="servico-item">
                <div class="sobreposicao bg-black opacity-75"></div>
                <img src="arquivos/servicos-desinsetizacao.png" alt="Descupinização">
                <div class="text-white w-100 h-100 d-flex align-items-center justify-content-center">
                    <h4>Desinsetização residencial e comercial</h4>
                </div>
            </div>
            <div class="servico-item">
                <div class="sobreposicao bg-black opacity-75"></div>
                <img src="arquivos/servicos-manejo-pombos.png" alt="Descupinização">
                <div class="text-white w-100 h-100 d-flex align-items-center justify-content-center">
                    <h4>Manejo de pombos e morcegos</h4>
                </div>
            </div>
        </div>
    </div>
</section>